body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh;
    justify-content: stretch;
}

body > * {
    display: flex;
    flex: 3 3;
    padding: 16px 128px;
}

.header {
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-bottom: 0px;
    flex: 0 0;
}

.header > .logo {
    font-size: 24px;
    font-weight: 900;
}

.header > ul {
    display: flex;
    gap: 32px;
    padding-left: 0;
    list-style-type: none;
}

.hero {
    gap: 32px;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
}

.hero > * {
    flex: 1 1;
}

.hero > .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero > .container > .title {
    font-weight: 900;
    font-size: 48px;
}

.hero > .container > .secondary {
    font-size: 18px;
}

.hero > img {
    align-self: stretch;
    background-color: #C5C7CB;
    color: #1F2937;
    text-align: center;
}

.info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    color: #1F2937;
}

.info > .title {
    font-weight: 900;
    font-size: 36px;
}

.info > .cards {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex: 0 1;
    width: 80%;
}

.info > .cards > .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.card > img {
    width: 128px;
    height: 128px;
    border: 3px solid #3882F6;
    border-radius: 16px;
}

.card > .caption {
    text-align: center;
}

.quote {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote > .text {
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
}

.quote > .reference {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
}

.section {
    background: #F9FAF8;
    flex: 2 2;
}

.section > .call-to-action {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
}



.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 0 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding: 8px;
    font-weight: 900;
}